
 
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3194.2428239297924!2d10.163661814779921!3d36.81270077469655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd3386aae7a5f9%3A0x48d6f4f6afb7d57!2zQ2VudHJlIE5hdGlvbmFsIGRlIGwnSW5mb3JtYXRpcXVlIChDTkkpIC0g2KfZhNmF2LHZg9iyINin2YTZiNi32YbZiiDZhNmE2KXYudmE2KfZhdmK2Kk!5e0!3m2!1sfr!2stn!4v1628167740485!5m2!1sfr!2stn"   height="350" style="border:0; width:50%" allowfullscreen="" loading="lazy" aling="Center"></iframe>
 <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col item social">
                    <a href="https://www.facebook.com/CNITUNISIA"><i class="icon ion-social-facebook"></i></a>
                    <a href="https://twitter.com/CNITUNISIA"><i class="icon ion-social-twitter"></i></a>
                    <a href="#"><i class="icon ion-social-snapchat"></i></a>
                    <a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright"> Copyright © 2021 Centre National D'informatique</p>
        </div>
    </footer>