
<section class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form method="post">
            <h2 class="text-center"><strong>Créer </strong>votre compte</h2>
            <div class="mb-3"><input class="form-control" type="text" name="nom" placeholder="Nom"></div><br>
            <div class="mb-3"><input class="form-control" type="text" name="prenom" placeholder="Prénom"></div><br>
            <div class="mb-3"><input class="form-control" type="number" name="cin" placeholder="CIN"><br>
                <input class="form-control" type="number" name="tel" placeholder="Numéro de téléphone"><br>
                <input class="form-control" type="text" name="ville" placeholder="Ville"><br>
                <input class="form-control" type="number" name="cdp" placeholder="Code Postal"><br>
                <input class="form-control" type="text" name="add" placeholder="Adresse "><br>
            <input class="form-control" type="email" name="email" placeholder="Email"><br>

            <input class="form-control" type="login" name="log" placeholder="Login"><br>
            <input class="form-control" type="password" name="password" placeholder="Mot de passe"><br>
            <input class="form-control" type="password" name="password-repeat" placeholder="Confirmer Mot de passe"><br>
          
        </div>
            <div class="mb-3">
                <div class="form-check">
                 <label class="form-check-label"><input class="form-check-input" type="checkbox">J'accepte tout.</label></div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary d-block w-100" type="submit" style="color: var(--bs-white);background: var(--bs-secondary);">se connecter</button>
            </div><a class="already" href="#">You already have an account? Login here.</a>
        </form>
    </div>
</section>