<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="#"> Formation</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/">Catalogue</a></li>
                <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="#">Mes Formations</a></li>
                <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/">Contact</a></li>
                <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/">Admin</a></li>
            </ul><span class="navbar-text actions"> 
                <a class="btn btn-light action-button"  routerLink="/login" >sign up</a></span>
        </div>
    </div>
  </nav>