<div class="card" style="height: 100%;">
        <img class="card-img-top w-100 d-block" style="height: 232px;" src="assets/img/R.jpg">
        <div class="card-body">
            <h4 class="card-title"> Angular </h4><span class="badge bg-primary" style="border-radius: 20px;padding: 12px 12px;font-size: 19px;">42 J</span>
            <hr><em>Avancee</em>
            <p class="card-text">Niveau : intermediaire <br>
                                Durée : 3 jours (21h) <br>
                                Lieu : à distance ou dans nos centres parisiens
            </p>
            <a class="btn btn-primary" routerLink="/formation-page" >Inscrit vous</a>
        </div>
    </div>