<app-header></app-header>

<div class="container">
    <h1 style="text-align: left;padding: 30px 0;"> Nos Formations</h1>
    <div class="flex">
        <app-formation-card  class="col-md-3 m-4" style="height: 530px;" ></app-formation-card>
        <app-formation-card  class="col-md-3 m-4" style="height: 530px;" ></app-formation-card>
        <app-formation-card  class="col-md-3 m-4" style="height: 530px;" ></app-formation-card>
    </div>
  </div>
  
  
  <div class="container">
    <h1 style="text-align: left;padding: 30px 0;">Nous connaître </h1>
  
    <div class="flex">
    Le Centre National de l’Informatique est un établissement public à <br>
    caractère non administratif doté de la personnalité civile et de <br>
    l’autonomie financière. Le CNI est un organisme placé sous la tutelle <br>
    du Ministre des Technologies de la Communication, et opérant dans les <br>
    domaines du secteur de l’informatique et des technologies<br>
    de la communication et certifié ISO 9001version 2015. <br><br>
    </div>
  </div>

<app-footer></app-footer>

  